<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue基本框架</title>
</head>
<body>
	<div id="app">
        <!--lable设置的目的是和对应的input绑定，方便鼠标点击使用，即点击lable内的任何内容都可以对input进行操作-->
		<label for="male">
            <!--设置相同的namea属性使其互斥，在绑定了v-model的时候，可以省略name属性-->
            <input type="radio" id="male" name="gender" value="男" v-model="gender">男
        </label>
        <label for="female">
            <input type="radio" id="female" name="gender" value="女" v-model="gender">女
        </label>
        <h2>选择的性别为：{{gender}}</h2>
	</div>

	<script src="../js/vue.js"></script>
	<script>
		const app = new Vue({
			el:"#app",
			data:{
                message:'hello',
                gender: '男'
			},
			methods:{

			}
		})
	</script>
</body>
</html>